i {
    font-size: 3.5rem;
}

.icon-container {
    width: 100px;
    justify-content: center;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

.genre-search-container {
    text-align: right;
}

.food-search-container {
    text-align: left;
}

.genre-search-container,
.food-search-container {
    width: calc(50% - 75px);
}

input, 
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    // appearance: none;
    border-radius: 25px;
    padding: 15px;
    background: #fff;
}

select[name="genre-search"],
input[name="food-search"] {
    width: 400px;
}


select {
    background: #fff, url('./assets/arrow-down.png') no-repeat 100% 50%;
}