// * {
//     border: 1px solid red;
// }

html {
    font-size: 125%;
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1600px;
    width: 85%;
    margin: 0 auto;
}

body {
    color: black;
    background: #6c0b11;
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    color: #fff;
}

h1 {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.2;
    width: 100%;
}

h2 {
    font-size: 2.2rem;
}

p {
    font-size: 1rem;
}

button {
    text-align: center;
    padding: 15px 80px;
    border-radius: 25px;
    margin: 0 auto;
}


.button-container {
    width: 100%;
    text-align: center;
}

header,
.form-section {
    height: 50vh;
}

header,
footer {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

// .display-none {
//     display: none;
// }