* {
    border: 1px solid red;
}

html {
    font-size: 125%;
}

body {
    color: black;
    background: #FFE9E9;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

h1 {
    font-family: 'Roboto', sans-serif; // change later
    font-size: 3rem;
    line-height: 1.2;
    width: 100%;
}

h2 {
    font-size: 2.2rem;
}

p {
    font-size: 1rem;
}

button {
    text-align: center;
    padding: 15px 80px;
    margin: 30px auto;
}

header,
.form-section {
    height: 50vh;
}

header,
footer {
    text-align: center;
}

i {
    font-size: 3rem;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



