.movie-results,
.recipe-results {
    width: calc(50% - 30px);
    align-items: flex-start;
        @media (max-width: 600px) {
        width: 100%;
    }
}

.movie-card,
.recipe-card {
    width: calc(50% - 20px);
    background: #FFE0BE;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 30px;
    color: #502f2c;

        @media (max-width: 1100px) {
        width: 100%;
    }
}

.movie-img,
.recipe-img {
    width: 100%;

    img {
        width: 100%;
    }
}

.card-text {
    padding: 0 20px;
}

h3 {
    width: 100%;
    text-align: center;
}
