.movie-results,
.recipe-results {
    width: calc(50% - 30px);
}

.movie-card,
.recipe-card {
    width: calc(50% - 20px);
    background: #FFE0BE;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 30px;
    color: #502f2c;
}

.movie-img,
.recipe-img {
    width: 100%;

    img {
        width: 100%;
    }
}

.card-text {
    padding: 0 20px;
}
